body{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: #a431be;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#nav-list{
  display: flex;
  flex-direction: row;
}

li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 1.05rem 2rem;
}

a:hover{
  background-color:#45567D;
}

#welcome-section{	
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background-image: linear-gradient(62deg, rgb(58, 61, 64) 0%, rgb(24, 23, 25) 100%);
}

h1{
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

#welcome-section > p{
  color: #a431be;
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
}

.projects{
  margin: 0;
  padding: 8rem 2rem; 
  text-align: center;
  background-color: #45567D;
}

 h2{
  font-size: 3.2rem;
  color: white;
}

.project-img{
  height: calc(100% - 5.8rem);
  width: 100%;
  object-fit: cover;
}

.project-tile{
  color: white;
  width: 100%;
  background-color: #303841;
  margin:0;
  padding: 2rem 0;
}

.project-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

